<div class="container-fluid">
    <div class="row jumbotron jumbotron-fluid animated fadeInDown m-2 article">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 pt-3 pb-3 text-center">
                    <h1>The Value of Money</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="img/article-headers/dollar-499481_640.jpg" class="img-fluid art-images" alt="">
                </div>
                <div class="col-md-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non mollis sem. Aliquam feugiat leo
                    vitae ligula pretium, vel aliquam dolor fringilla. Nullam ultrices urna feugiat nulla sagittis
                    varius. Nam eu ipsum ante. Vivamus hendrerit, turpis at tristique congue, nisi ante porta risus, ut
                    dapibus tortor diam vitae magna. Cras at erat lectus. Morbi a diam eros.
                    Nullam ut ex interdum, convallis leo at, ullamcorper erat. Duis rhoncus posuere elit a fermentum.
                    Sed varius magna non porta luctus. Donec luctus vel lorem eget tempus. Suspendisse sagittis, nisi ut
                    tincidunt suscipit, quam libero sodales eros, sed sollicitudin nunc dui non erat. Sed lorem diam,
                    lobortis eget cursus ut, semper semper justo. Quisque nec leo dapibus felis bibendum sagittis. Proin
                    elementum, dolor sed accumsan dictum, quam mauris commodo erat, in fermentum ligula urna non ante.
                    Ut ac eros quam. Aliquam sit amet diam ut purus consequat semper. Donec vitae purus auctor, finibus
                    lectus ut, luctus sem. Sed vitae viverra urna. Morbi semper eu mi in iaculis. Duis condimentum
                    egestas facilisis.
                </div>
            </div>
        </div>
    </div>
    <div class="row jumbotron jumbotron-fluid animated fadeInDown delay-1s m-2 article">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 pt-3 pb-3 text-center">
                    <h1>GMO food</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="img/article-headers/gmo-254539_640.jpg" class="img-fluid art-images" alt="">
                </div>
                <div class="col-md-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non mollis sem. Aliquam feugiat leo
                    vitae ligula pretium, vel aliquam dolor fringilla. Nullam ultrices urna feugiat nulla sagittis
                    varius. Nam eu ipsum ante. Vivamus hendrerit, turpis at tristique congue, nisi ante porta risus, ut
                    dapibus tortor diam vitae magna. Cras at erat lectus. Morbi a diam eros.
                    Nullam ut ex interdum, convallis leo at, ullamcorper erat. Duis rhoncus posuere elit a fermentum.
                    Sed varius magna non porta luctus. Donec luctus vel lorem eget tempus. Suspendisse sagittis, nisi ut
                    tincidunt suscipit, quam libero sodales eros, sed sollicitudin nunc dui non erat. Sed lorem diam,
                    lobortis eget cursus ut, semper semper justo. Quisque nec leo dapibus felis bibendum sagittis. Proin
                    elementum, dolor sed accumsan dictum, quam mauris commodo erat, in fermentum ligula urna non ante.
                    Ut ac eros quam. Aliquam sit amet diam ut purus consequat semper. Donec vitae purus auctor, finibus
                    lectus ut, luctus sem. Sed vitae viverra urna. Morbi semper eu mi in iaculis. Duis condimentum
                    egestas facilisis.
                </div>
            </div>
        </div>
    </div>
    <div class="row jumbotron jumbotron-fluid animated fadeInDown delay-2s m-2 article">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 pt-3 pb-3 text-center">
                    <h1>The View of World in 2100</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="img/article-headers/composing-2434042_640.jpg" class="img-fluid art-images" alt="">
                </div>
                <div class="col-md-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non mollis sem. Aliquam feugiat leo
                    vitae ligula pretium, vel aliquam dolor fringilla. Nullam ultrices urna feugiat nulla sagittis
                    varius. Nam eu ipsum ante. Vivamus hendrerit, turpis at tristique congue, nisi ante porta risus, ut
                    dapibus tortor diam vitae magna. Cras at erat lectus. Morbi a diam eros.
                    Nullam ut ex interdum, convallis leo at, ullamcorper erat. Duis rhoncus posuere elit a fermentum.
                    Sed varius magna non porta luctus. Donec luctus vel lorem eget tempus. Suspendisse sagittis, nisi ut
                    tincidunt suscipit, quam libero sodales eros, sed sollicitudin nunc dui non erat. Sed lorem diam,
                    lobortis eget cursus ut, semper semper justo. Quisque nec leo dapibus felis bibendum sagittis. Proin
                    elementum, dolor sed accumsan dictum, quam mauris commodo erat, in fermentum ligula urna non ante.
                    Ut ac eros quam. Aliquam sit amet diam ut purus consequat semper. Donec vitae purus auctor, finibus
                    lectus ut, luctus sem. Sed vitae viverra urna. Morbi semper eu mi in iaculis. Duis condimentum
                    egestas facilisis.
                </div>
            </div>
        </div>
    </div>
</div>