<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 p-4 animated fadeInDown">
            <div class="card">
                <h4 class="card-header">
                    Photograph #1
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        <img src="img/portfolio/1.JPG" class="img-fluid" alt="">
                    </p>
                </div>
                <div class="card-footer">
                    <i class="fas fa-camera"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4 animated fadeInDown delay-1s">
            <div class="card">
                <h4 class="card-header">
                    Photograph #2
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        <img src="img/portfolio/2.JPG" class="img-fluid" alt="">
                    </p>
                </div>
                <div class="card-footer">
                    <i class="fas fa-camera"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4 animated fadeInDown delay-2s">
            <div class="card">
                <h4 class="card-header">
                    Photograph #3
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        <img src="img/portfolio/3.JPG" class="img-fluid" alt="">
                    </p>
                </div>
                <div class="card-footer">
                    <i class="fas fa-camera"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 p-4 animated fadeInDown delay-3s">
            <div class="card">
                <h4 class="card-header">
                    Photograph #4
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        <img src="img/portfolio/4.JPG" class="img-fluid" alt="">
                    </p>
                </div>
                <div class="card-footer">
                    <i class="fas fa-camera"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4 animated fadeInDown delay-4s">
            <div class="card">
                <h4 class="card-header">
                    Photograph #5
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        <img src="img/portfolio/5.JPG" class="img-fluid" alt="">
                    </p>
                </div>
                <div class="card-footer">
                    <i class="fas fa-camera"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4 animated fadeInDown delay-5s">
            <div class="card">
                <h4 class="card-header">
                    Photograph #6
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        <img src="img/portfolio/6.JPG" class="img-fluid" alt="">
                    </p>
                </div>
                <div class="card-footer">
                    <i class="fas fa-camera"></i>
                </div>
            </div>
        </div>
    </div>
</div>